<!DOCTYPE html>

<html>
  <head>
    <title>Top Artists</title>
    <style>
      .TopArtistsPageTitle {
        margin-left: 52%;
        margin-top: 5%;
        font-size: 50px;
        font-weight: bold;
      }
      .FirstLine {
        display: flex;
      }
      .RankingNumber {
        font-size: 25px;
        margin-left: 25%;
      }
      .ArtistLink {
        flex: 4;
        font-size: 25px;
        margin-left: 25px;
        margin-top: 18px;
        color: black;
      }
      .ArtistLink:hover {
        color: grey;
      }
      .OverallScore {
        flex: 2;
        margin-left: 375px;
      }
      .ArtistBio {
        margin-left: 25%;
        padding-left: 2%;
        padding-right: 2%;
      }
    </style>
  </head>
  <body>
    <h4 class="TopArtistsPageTitle">Top Artists</h4>
    <div class="SingleArtist">
      <div class="FirstLine">
        <h2 class="RankingNumber">1.</h2>
        <a href="#" class="ArtistLink">Artist Name</a>
        <h2 class="OverallScore">Score: *Overall Score Here*</h2>
      </div>
      <p class="ArtistBio">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        magnam, itaque inventore modi aliquid illo cupiditate dignissimos
        placeat, amet optio ducimus, ipsa commodi harum. Velit recusandae
        consequatur error ipsum aut harum, cumque dolore qui! Possimus ab,
        asperiores harum odit ipsam excepturi iste deleniti debitis cupiditate
        tempora nulla molestias recusandae! Nesciunt neque, sapiente ab
        consequuntur tenetur, qui voluptatem ratione culpa omnis iure dolores
        laborum voluptas amet corporis quam harum, quasi asperiores mollitia
        eveniet possimus molestiae inventore impedit sit? Consectetur quisquam,
        voluptatem unde excepturi eligendi corrupti nesciunt similique accusamus
        at tenetur consequuntur magni ipsa dolorem odit quis suscipit
        recusandae? Voluptatibus aliquam maxime illum tempore consectetur enim
        beatae modi nesciunt exercitationem quo iusto et facilis earum esse
        asperiores dolore, veritatis mollitia temporibus sapiente laborum
        inventore maiores voluptate nam? Non eum iure eligendi vel vitae
        maiores, beatae impedit alias velit nemo. Officia molestiae architecto
        nulla quas eos fuga culpa soluta voluptates odit sequi velit quod ab
        molestias odio cum assumenda dicta, ea laborum quisquam, quam recusandae
        praesentium, magni quo ex! Exercitationem cumque, autem enim nesciunt
        ipsam doloribus deserunt saepe magni eveniet optio sed quia perferendis
        nemo maxime architecto eaque debitis incidunt quibusdam consectetur
        repellat commodi delectus aut distinctio voluptatibus. Sed doloremque
        eum blanditiis iure.
      </p>
    </div>
    <div class="SingleArtist">
      <div class="FirstLine">
        <h2 class="RankingNumber">2.</h2>
        <a href="#" class="ArtistLink">Artist Name</a>
        <h2 class="OverallScore">Score: *Overall Score Here*</h2>
      </div>
      <p class="ArtistBio">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        magnam, itaque inventore modi aliquid illo cupiditate dignissimos
        placeat, amet optio ducimus, ipsa commodi harum. Velit recusandae
        consequatur error ipsum aut harum, cumque dolore qui! Possimus ab,
        asperiores harum odit ipsam excepturi iste deleniti debitis cupiditate
        tempora nulla molestias recusandae! Nesciunt neque, sapiente ab
        consequuntur tenetur, qui voluptatem ratione culpa omnis iure dolores
        laborum voluptas amet corporis quam harum, quasi asperiores mollitia
        eveniet possimus molestiae inventore impedit sit? Consectetur quisquam,
        voluptatem unde excepturi eligendi corrupti nesciunt similique accusamus
        at tenetur consequuntur magni ipsa dolorem odit quis suscipit
        recusandae? Voluptatibus aliquam maxime illum tempore consectetur enim
        beatae modi nesciunt exercitationem quo iusto et facilis earum esse
        asperiores dolore, veritatis mollitia temporibus sapiente laborum
        inventore maiores voluptate nam? Non eum iure eligendi vel vitae
        maiores, beatae impedit alias velit nemo. Officia molestiae architecto
        nulla quas eos fuga culpa soluta voluptates odit sequi velit quod ab
        molestias odio cum assumenda dicta, ea laborum quisquam, quam recusandae
        praesentium, magni quo ex! Exercitationem cumque, autem enim nesciunt
        ipsam doloribus deserunt saepe magni eveniet optio sed quia perferendis
        nemo maxime architecto eaque debitis incidunt quibusdam consectetur
        repellat commodi delectus aut distinctio voluptatibus. Sed doloremque
        eum blanditiis iure.
      </p>
    </div>
    <div class="SingleArtist">
      <div class="FirstLine">
        <h2 class="RankingNumber">3.</h2>
        <a href="#" class="ArtistLink">Artist Name</a>
        <h2 class="OverallScore">Score: *Overall Score Here*</h2>
      </div>
      <p class="ArtistBio">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        magnam, itaque inventore modi aliquid illo cupiditate dignissimos
        placeat, amet optio ducimus, ipsa commodi harum. Velit recusandae
        consequatur error ipsum aut harum, cumque dolore qui! Possimus ab,
        asperiores harum odit ipsam excepturi iste deleniti debitis cupiditate
        tempora nulla molestias recusandae! Nesciunt neque, sapiente ab
        consequuntur tenetur, qui voluptatem ratione culpa omnis iure dolores
        laborum voluptas amet corporis quam harum, quasi asperiores mollitia
        eveniet possimus molestiae inventore impedit sit? Consectetur quisquam,
        voluptatem unde excepturi eligendi corrupti nesciunt similique accusamus
        at tenetur consequuntur magni ipsa dolorem odit quis suscipit
        recusandae? Voluptatibus aliquam maxime illum tempore consectetur enim
        beatae modi nesciunt exercitationem quo iusto et facilis earum esse
        asperiores dolore, veritatis mollitia temporibus sapiente laborum
        inventore maiores voluptate nam? Non eum iure eligendi vel vitae
        maiores, beatae impedit alias velit nemo. Officia molestiae architecto
        nulla quas eos fuga culpa soluta voluptates odit sequi velit quod ab
        molestias odio cum assumenda dicta, ea laborum quisquam, quam recusandae
        praesentium, magni quo ex! Exercitationem cumque, autem enim nesciunt
        ipsam doloribus deserunt saepe magni eveniet optio sed quia perferendis
        nemo maxime architecto eaque debitis incidunt quibusdam consectetur
        repellat commodi delectus aut distinctio voluptatibus. Sed doloremque
        eum blanditiis iure.
      </p>
    </div>
    <div class="SingleArtist">
      <div class="FirstLine">
        <h2 class="RankingNumber">4.</h2>
        <a href="#" class="ArtistLink">Artist Name</a>
        <h2 class="OverallScore">Score: *Overall Score Here*</h2>
      </div>
      <p class="ArtistBio">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        magnam, itaque inventore modi aliquid illo cupiditate dignissimos
        placeat, amet optio ducimus, ipsa commodi harum. Velit recusandae
        consequatur error ipsum aut harum, cumque dolore qui! Possimus ab,
        asperiores harum odit ipsam excepturi iste deleniti debitis cupiditate
        tempora nulla molestias recusandae! Nesciunt neque, sapiente ab
        consequuntur tenetur, qui voluptatem ratione culpa omnis iure dolores
        laborum voluptas amet corporis quam harum, quasi asperiores mollitia
        eveniet possimus molestiae inventore impedit sit? Consectetur quisquam,
        voluptatem unde excepturi eligendi corrupti nesciunt similique accusamus
        at tenetur consequuntur magni ipsa dolorem odit quis suscipit
        recusandae? Voluptatibus aliquam maxime illum tempore consectetur enim
        beatae modi nesciunt exercitationem quo iusto et facilis earum esse
        asperiores dolore, veritatis mollitia temporibus sapiente laborum
        inventore maiores voluptate nam? Non eum iure eligendi vel vitae
        maiores, beatae impedit alias velit nemo. Officia molestiae architecto
        nulla quas eos fuga culpa soluta voluptates odit sequi velit quod ab
        molestias odio cum assumenda dicta, ea laborum quisquam, quam recusandae
        praesentium, magni quo ex! Exercitationem cumque, autem enim nesciunt
        ipsam doloribus deserunt saepe magni eveniet optio sed quia perferendis
        nemo maxime architecto eaque debitis incidunt quibusdam consectetur
        repellat commodi delectus aut distinctio voluptatibus. Sed doloremque
        eum blanditiis iure.
      </p>
    </div>
    <div class="SingleArtist">
      <div class="FirstLine">
        <h2 class="RankingNumber">5.</h2>
        <a href="#" class="ArtistLink">Artist Name</a>
        <h2 class="OverallScore">Score: *Overall Score Here*</h2>
      </div>
      <p class="ArtistBio">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        magnam, itaque inventore modi aliquid illo cupiditate dignissimos
        placeat, amet optio ducimus, ipsa commodi harum. Velit recusandae
        consequatur error ipsum aut harum, cumque dolore qui! Possimus ab,
        asperiores harum odit ipsam excepturi iste deleniti debitis cupiditate
        tempora nulla molestias recusandae! Nesciunt neque, sapiente ab
        consequuntur tenetur, qui voluptatem ratione culpa omnis iure dolores
        laborum voluptas amet corporis quam harum, quasi asperiores mollitia
        eveniet possimus molestiae inventore impedit sit? Consectetur quisquam,
        voluptatem unde excepturi eligendi corrupti nesciunt similique accusamus
        at tenetur consequuntur magni ipsa dolorem odit quis suscipit
        recusandae? Voluptatibus aliquam maxime illum tempore consectetur enim
        beatae modi nesciunt exercitationem quo iusto et facilis earum esse
        asperiores dolore, veritatis mollitia temporibus sapiente laborum
        inventore maiores voluptate nam? Non eum iure eligendi vel vitae
        maiores, beatae impedit alias velit nemo. Officia molestiae architecto
        nulla quas eos fuga culpa soluta voluptates odit sequi velit quod ab
        molestias odio cum assumenda dicta, ea laborum quisquam, quam recusandae
        praesentium, magni quo ex! Exercitationem cumque, autem enim nesciunt
        ipsam doloribus deserunt saepe magni eveniet optio sed quia perferendis
        nemo maxime architecto eaque debitis incidunt quibusdam consectetur
        repellat commodi delectus aut distinctio voluptatibus. Sed doloremque
        eum blanditiis iure.
      </p>
    </div>
  </body>
</html>
